alembic==1.7.1
attrs==21.2.0
click==8.0.1
Flask==2.0.1
flask-expects-json==1.6.0
Flask-JWT-Extended==4.3.0
Flask-Migrate==3.1.0
Flask-Seeder==1.2.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
Mako==1.1.5
MarkupSafe==2.0.1
PyJWT==2.1.0
PyMySQL==1.0.2
pyrsistent==0.18.0
python-dotenv==0.19.0
six==1.16.0
SQLAlchemy==1.4.23
Werkzeug==2.0.1
zipp==3.5.0
